* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body-elementin korkeus asetetaan olemaan näytön korkeus 100vh(vertical height)*/
/* taustaväri ja tekstin ensisijainen väri valitaan alla*/

body {
    background-color: cornflowerblue;
    color: white;
    height: 100vh;
}

/* jokaisen sivun yläreunassa oleva header, jossa h1-elementti */

.header {
    text-align: center;
    font-size: large;
    padding: 10px;
    border-bottom: 1px solid white;
    height: 10vh;
}

/* jokaisen sivun header-div:in alla oleva main-nav, jossa linkit kaikille sivuille, vaakatasoon */

.main-nav{
    height: 5vh;
    background-color: rgb(168, 189, 230);
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    height: 5vh;
}

.main-nav a {
    color: white;
    text-decoration: none;

}

/* kun kursori on valikon linkkien päällä, muuttuu tekstin väri*/

.main-nav a:hover {
    color: cornflowerblue;
}

/* seuraavaksi muotoillaan ensimmäisen sivun h2 ja p-elementit sekä description.div:in koko ja väri*/

.description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.description p{
    font-size: 12px;
}

.description {
    background-color: rgb(209, 224, 250);
    text-align: center;
    padding: 10px;
    height: 25vh;
    width: 85%;
}

/* vaihdetaan ol ja ul listojen listatyyppiä ja vaihdetaan väriä sekä div:in koko ja muoto*/

.lists {
    background-color: rgb(209, 224, 250);
    color: cornflowerblue;
    width: 90%;
    height: 50vh;
    margin: 5px auto;
    border: 4px dotted white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}

.lists ol {
    list-style: upper-latin;
    padding: 10px 30% ;
    text-align: center;
}

/* halutaan aside-div lists-div:in viereen */

.aside {
    float: right;
    background-color: white;
    color:cornflowerblue;
    width: 15%;
    padding: 10px;
    height: 25vh;
}

.aside ul {
    list-style: square;
    padding: 10px;
}

/* muokataan toisen sivun divin koko ja väri */

.section {
    background-color: rgb(209, 224, 250);
    color: cornflowerblue;
    padding: 5px;
    text-align: center;
    height: 30vh;
}

.section h2 {
    border: 1px solid white;
    width: auto;
    padding: 10px;
}

.section p {
    background-color: rgb(235, 242, 255);
    padding: 10px;
    border-radius: 10px;

}

/* muokataan toisen sivun kuvien koko ja sijanti sivulla*/

.images {
    text-align: center;
    display: flex;
    border-bottom: 1px solid white;
    justify-content: center;
    height: 45vh;

}

.images img {
    padding: 10px;
    text-align: center;


}

.images figure {
    background-color: rgb(185, 208, 255);
}

.images figure img {
    height: 90%
}

/* muokataan kolmannen sivun side-nav.div koko ja ulkomuoto sekä sijainti vasemmalle 
social-links.div viereen*/

.side-nav {
    padding: 10px 10px;
    float: left;
    background-color: white;
    color: cornflowerblue;
    height: 75vh;
}

.side-nav h4 {
    font-size: 20px;
}

.side-nav ul {
    list-style: none;
    line-height: 2rem;
}

.side-nav a {
    text-decoration: none;
    color: cornflowerblue;
}

/*social-links.div koko muutetaan mukautumaan näytön korkeuteen*/

.social-links {
    padding: 10px;
    height: 75vh;
}

.social-links h2 {
    margin-left: 5rem;
}

.social-links img {
    width:25vh;
    padding: 10px;
}

/* kaikilla sivuilla oleva footer-elementti muokataan olemaan aina sivun alareunassa, teksti kekskellä*/

footer {
    text-align: center;
    height: 10vh;
    padding: 10px;
    background-color: rgb(168, 189, 230);
}

/* mikäli näytön koko on pienempi kuin 850px, muokataa elementtien leveyttä ja sijaintia sivulla, sekä koko sivun korkeutta, niin että koko sisältö mahtuu selkeästi näkyville */

@media screen and (max-width: 850px) {
    .section {
        height: auto;
    }
    
    .images {
        flex-wrap: wrap;
        height: auto;
    }

    .images img {
        width: 60%;
    }
}

